* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100vw;
  height: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.flex-wrapper{
  display: flex;
}

button{
  padding: 4px 8px;
}

main{
  align-items: center;
  justify-content: center;
  align-content: space-between;
  height: calc( 100vh - 100px);
}

.red{
  color: red;
}

ul {
  list-style-type: none;
  width: 700px;
}

li{
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid black;
  float: left;
}
